@model СoffeShop.Views.Shared.Components.NavbarViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{

}
<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto p-4">
        @foreach (var key in Model.Keys)
        {
            if (Model.DropdownKeys.ContainsKey(@key))
            {
                <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@Localizer[@key]</a>
                    <div class="dropdown-menu text-capitalize">
                        @foreach (var dropdownkey in Model.DropdownKeys[@key])
                        {
                            <a href="@dropdownkey" class="dropdown-item">@Localizer[dropdownkey]</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <a href="@key" class="nav-item nav-link">@Localizer[key]</a>
            }
        }
       @* <a href="home" class="nav-item nav-link">@Localizer["home"]</a>
        <a href="about" class="nav-item nav-link">@Localizer["About"]</a>
        <a href="service" class="nav-item nav-link">@Localizer["Service"]</a>
        <a href="menu" class="nav-item nav-link">@Localizer["Menu"]</a>*@
      @*  <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@Localizer["Pages"]</a>
            <div class="dropdown-menu text-capitalize">
                <a href="reservation" class="dropdown-item">@Localizer["Reservation"]</a>
                <a href="testimonial" class="dropdown-item">@Localizer["Testimonial"]</a>
                <a href="FileUpload" class="dropdown-item">@Localizer["Upload"]</a>
            </div>
        </div>*@
        @*<a href="contact" class="nav-item nav-link">@Localizer["Contact"]</a>*@
    </div>
</div>


