@model СoffeShop.Views.Shared.Components.NavbarViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto p-4">
        @foreach (var key in Model.Keys)
        {
            if (Model.DropdownKeys.ContainsKey(@key))
            {
                <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@Localizer[@key]</a>
                    <div class="dropdown-menu text-capitalize">
                        @foreach (var dropdownkey in Model.DropdownKeys[@key])
                        {
                            <a href="@dropdownkey" class="dropdown-item">@Localizer[dropdownkey]</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <a href="@key" class="nav-item nav-link">@Localizer[key]</a>
            }
        }
    </div>
</div>


